/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/
.navbar {
    border-radius: 0px !important;
}
/*Small devices (landscape phones, up to 576px)*/
@media (max-width: 576px) {
    
}
/*Medium devices (tablets, up to 768px)*/
@media (max-width: 768px) { 
    
}

/*Large devices (desktops, up to 992px)*/
@media (max-width: 992px) { 

}

/*  Extra large devices (large desktops, up to 1199px)*/
@media (max-width: 1199px) { 
    
 }

/*  Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }